<!DOCTYPE html>

<html lang="en">
<head>
<title>Main</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script
	src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>


<script type="text/javascript" src="weather.js">
	//create an app

</script>

<style type="text/css">
.mypanel{
	margin-top:10px;
	
}


</style>
</head>
<body ng-app="testapp" ng-controller="testController">
	<div class="container mypanel">
		<div class="row">
			<div class="col-sm-6">
				<input type="text" ng-model="location"
					placeholder="Show me the weather in .. city & state, or zip"
					id="location" class="location" />
			</div>

			<div class="col-sm-6">
				<button ng-click="get_weather()" class=" w3-button w3-blue w3-round">Submit</button>
			</div>
		</div>
	</div>
	<!-- div class="container mypanel" ng-show="has_data">
		<div class="row">

			<div class="col-sm-6">Date & Time</div>
			<div class="col-sm-6">{{date_time}}</div>
		</div>

		<div class="row">
			<div class="col-sm-6">Location</div>
			<div class="col-sm-6">{{city}}</div>
		</div>

		<div class="row">


			<div class="col-sm-6">Description</div>
			<div class="col-sm-6">{{description}}</div>
		</div>

		<div class="row">


			<div class="col-sm-6">Current Temperature</div>
			<div class="col-sm-6">{{temp}} &deg;F</div>

		</div>

		<div class="row">

			<div class="col-sm-6">Minumum temerature(low)</div>
			<div class="col-sm-6">{{temp_min}} &deg;F</div>
		</div>

		<div class="row">
			<div class="col-sm-6">Maximum temperature (high)</div>
			<div class="col-sm-6">{{temp_max}} &deg;F</div>

		</div>

		<div class="row">

			<div class="col-sm-6">Precipitation</div>
			<div class="col-sm-6">Didn't see it</div>
		</div>

		<div class="row">

			<div class="col-sm-6">Humidity</div>
			<div class="col-sm-6">{{humidity}}%</div>
		</div>

		<div class="row">

			<div class="col-sm-6">Wind(mph)</div>
			<div class="col-sm-6">{{wind_speed}}</div>
		</div>
	</div>
  -->
</body>
</html>
